body {
  font-family: Georgia, serif;
  background-color: rgb(193, 207, 216);
}

nav ul {
  display: flex;
  justify-content: center;
  border: black, 2px, solid;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(193, 207, 216);
  border: 2px solid black;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 1.2rem 1.2rem;
  text-decoration: none;
  font-size: 2rem;
}
a:hover {
  color: black;
}
.grid {
  display: flex;
}

iframe {
  display: block;
  margin: 0 auto;
  padding-top: 2em;
}
