body {
  font-family: Georgia, serif;
}

nav ul {
  display: flex;
  justify-content: center;
  border: black, 2px, solid;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(240, 197, 215);
  border: 2px solid black;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 1.2rem 1.2rem;
  text-decoration: none;
  font-size: 2rem;
}
